* {
  --primary:#03A4ED;
}

#vendor-dashboard-page {
  background-color: #F6F7FF;
}

#vendor-dashboard-page .no-outline {
  outline: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#vendor-dashboard-page .text-blue {
  outline: transparent;
  color: #0D276B;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  padding-left: 15px;
  position: relative;
  font-size: 1rem;
}

#vendor-dashboard-page .text-blue.active::before, #vendor-dashboard-page .text-blue:hover::before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 2px;
  background: #0D276B;
}

#vendor-dashboard-page .text-blue .material-icons {
  margin-right: 10px;
  font-size: 20px;
}

#vendor-dashboard-page .menu {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  background: white;
  border-top-right-radius: 35px;
  min-height: 200px;
  padding-top: 20px;
}

#vendor-dashboard-page .top-bar {
  height: 50px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#vendor-dashboard-page .jumbo {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  background: white;
  font-weight: 600;
  margin-bottom: 25px;
  padding: 10px;
}

#vendor-dashboard-page .jumbo .jumbo-inner a {
  text-decoration: none;
  color: #0D276B;
  display: inline-block;
}

#vendor-dashboard-page .jumbo .jumbo-inner a:last-child::after {
  display: none;
}

#vendor-dashboard-page .jumbo .jumbo-inner a::after {
  content: '/';
  padding: 0px 5px;
}

#vendor-dashboard-page .jumbo .jumbo-inner span {
  display: inline-block;
}

#vendor-dashboard-page .jumbo .jumbo-inner span:last-child::after {
  display: none;
}

#vendor-dashboard-page .jumbo .jumbo-inner span::after {
  content: '/';
  padding: 0px 5px;
}

#vendor-dashboard-page .sidebar {
  border-top-right-radius: 35px;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 300px;
  background: white;
  z-index: 10;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#vendor-dashboard-page .main {
  min-height: 70vh;
  margin-left: 315px;
  padding: 0px 30px 0px 15px;
}

#vendor-dashboard-page .link {
  border: 1px solid var(--primary);
  color: var(--primary);
}

#vendor-dashboard-page .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  top: 0px;
  left: 0px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#vendor-dashboard-page .overlay .overlay-image {
  width: 50px !important;
  height: 50px !important;
}

#vendor-dashboard-page #first-selector-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#vendor-dashboard-page #first-selector-image .image {
  cursor: pointer;
  width: 75px;
  height: 75px;
  position: relative;
}

#vendor-dashboard-page #first-selector-image .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#vendor-dashboard-page #first-selector-image .image:hover #overlay-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#vendor-dashboard-page #first-selector-name {
  position: relative;
}

#vendor-dashboard-page #first-selector-name input {
  font-weight: 600;
  font-size: 0.9rem;
  width: 100%;
  border: none;
  background: transparent;
  text-align: center;
  outline: transparent;
  pointer-events: none;
}

#vendor-dashboard-page #first-selector-name div {
  margin-top: 5px;
  display: none;
}

#vendor-dashboard-page #first-selector-name #edit-name {
  display: inline-block;
  position: absolute;
  top: 0px;
  border: none;
  background: transparent;
  outline: none;
  right: 0px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#vendor-dashboard-page #first-selector-name #edit-name i {
  font-size: 18px;
  color: var(--primary);
}

#vendor-dashboard-page #first-selector-name.active input {
  border-bottom: 1px solid var(--primary);
  pointer-events: all;
}

#vendor-dashboard-page #first-selector-name.active div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#vendor-dashboard-page #first-selector-name.active #edit-name {
  display: none;
}

#vendor-dashboard-page #first-selector-desc {
  position: relative;
}

#vendor-dashboard-page #first-selector-desc textarea {
  font-weight: 600;
  font-size: 0.9rem;
  width: 100%;
  border: none;
  text-align: justify;
  outline: transparent;
  pointer-events: none;
  color: var(--black-primary);
}

#vendor-dashboard-page #first-selector-desc div {
  margin-top: 5px;
  display: none;
}

#vendor-dashboard-page #first-selector-desc.active {
  padding: 8px;
  background-color: #f1f1f1;
  margin-top: 10px;
  border-radius: 5px;
}

#vendor-dashboard-page #first-selector-desc.active textarea {
  border-radius: 5px;
  border: 1px solid #b0b0b0;
  pointer-events: all;
  background-color: #f1f1f1;
  padding: 5px;
}

#vendor-dashboard-page #first-selector-desc.active div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#vendor-dashboard-page .info .material-icons {
  font-size: 14px;
  margin-right: 5px;
}

#vendor-dashboard-page .info span {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

#vendor-dashboard-page #selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#vendor-dashboard-page #selector span {
  text-transform: uppercase;
  padding: 23px 0 10px 0;
  margin-right: 35px;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

#vendor-dashboard-page #selector span:after {
  content: '';
  background-color: transparent;
  height: 3px;
  width: 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  -webkit-transition: width .2s ease,background-color .2s ease,left .2s ease;
  transition: width .2s ease,background-color .2s ease,left .2s ease;
}

#vendor-dashboard-page #selector span.active:after {
  background-color: var(--primary);
  width: 100%;
  left: 0;
}

#vendor-dashboard-page .selector-title {
  text-transform: uppercase;
  padding: 0px;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

#vendor-dashboard-page .selector-title span {
  display: inline-block;
}

#vendor-dashboard-page .line {
  border-bottom: 2px solid var(--primary);
}

#vendor-dashboard-page .service {
  text-decoration: none;
  display: block;
  padding: 30px 10px 10px 10px;
  text-align: center;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  margin-bottom: 15px;
}

#vendor-dashboard-page .service:hover {
  color: var(--primary);
}

#vendor-dashboard-page .service img {
  width: 100%;
  max-width: 60px;
}

#vendor-dashboard-page .service .name {
  color: var(--black-primary);
  font-weight: 600;
  font-size: 0.9rem;
}

#vendor-dashboard-page .choice {
  height: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

#vendor-dashboard-page .choice.active {
  height: auto;
}

.jumbotron {
  display: none !important;
}

@media (max-width: 426px) {
  #vendor-dashboard-page {
    padding: 0px;
  }
  #vendor-dashboard-page.active .sidebar {
    left: 0px;
  }
  #vendor-dashboard-page.active .main {
    margin-left: 315px;
    padding: 0px 30px 0px 15px;
  }
  #vendor-dashboard-page .sidebar {
    left: -350px;
  }
  #vendor-dashboard-page .main {
    margin-left: 0px;
    padding: 0px 10px;
  }
  #vendor-dashboard-page .jumbo .jumbo-inner a {
    display: block;
  }
  #vendor-dashboard-page .jumbo .jumbo-inner span {
    display: block;
  }
}
/*# sourceMappingURL=dashboard.css.map */