*{
    --primary:#03A4ED;
}
#vendor-dashboard-page{
    .no-outline{
        outline: transparent !important;
        box-shadow: none;
    }
    .text-blue{
        outline: transparent;
        color: #0D276B;
        align-items: center;
        display: flex;
        font-weight: 600;
        padding-left: 15px ;
        position: relative;
        font-size: 1rem;
        &.active,&:hover{
            &::before{
                content: '';
                position: absolute;
                top:0px;
                bottom: 0px;
                left:0px;
                width: 2px;
                background: #0D276B;
            }
        }
        .material-icons{
            margin-right: 10px;
            font-size: 20px;
        }
    }
    .menu{
        transform: translateY(-30px);
        background: white;
        border-top-right-radius: 35px;
        min-height: 200px;
        padding-top: 20px
    }
    .top-bar{
        height: 50px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .jumbo{

        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
        background: white;
        font-weight: 600;
        margin-bottom:25px;
        padding: 10px;
        .jumbo-inner{
            a{
                text-decoration: none;
                color: #0D276B;
                display: inline-block;
                &:last-child{
                    &::after{
                        display: none;
                    }
                }
                &::after{
                    content: '/';
                    padding: 0px 5px;
                }

            }
            span{
                display: inline-block;
                &:last-child{
                    &::after{
                        display: none;
                    }
                }
                &::after{
                    content: '/';
                    padding: 0px 5px;
                }

            }

        }
    }
    .sidebar{
        border-top-right-radius: 35px;
        overflow: hidden;
        position: fixed;
        top:0px;
        left: 0px;
        bottom: 0px;
        width:300px;
        background: white;
        z-index: 10;
        transition: all 0.5s;
    }
    .main{
        min-height: 70vh;
        margin-left: 315px;
        padding:0px 30px 0px 15px;
    }
    // padding:150px 75px 75px 75px;
    background-color: #F6F7FF;
    .link{
        border: 1px solid var(--primary);
        color: var(--primary);
    }
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: rgba($color: #000000, $alpha: 0.2);
        top:0px;
        left:0px;
        display: none;
        align-items: center;
        justify-content: center;
        .overlay-image{
            width:50px !important;
            height:50px !important;
        }
    }

    #first-selector-image{
        display: flex;
        justify-content: center;
        .image{
            cursor: pointer;
            width:75px;
            height: 75px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;

            }
            &:hover{
                #overlay-image{
                    display: flex;
                }
            }
        }
    }

    #first-selector-name{
        position: relative;
        input{
            font-weight: 600;
            font-size: 0.9rem;
            width: 100%;
            border:none;
            background: transparent;
            text-align: center;
            outline: transparent;
            pointer-events: none;
        }
        div{
            margin-top: 5px;
            display: none;
        }

        #edit-name{
            display: inline-block;
            position: absolute;
            top:0px;
            border:none;
            background: transparent;
            outline: none;
            right: 0px;
            transform: translate(-50%,-50%);
            i{
                font-size: 18px;
                color:var(--primary);
            }

        }
        &.active{
            input{
                border-bottom: 1px solid var(--primary);
                pointer-events: all;
            }
            div{
                display: flex;
                justify-content:space-between;
            }
            #edit-name{
                display: none;
            }
        }
    }

    #first-selector-desc{
        position: relative;
        textarea{
            font-weight: 600;
            font-size: 0.9rem;
            width: 100%;
            border:none;
            text-align: justify;
            outline: transparent;
            pointer-events: none;
            color: var(--black-primary);
        }
        div{
            margin-top: 5px;
            display: none;
        }


        &.active{
            padding: 8px;
            background-color: #f1f1f1;
            margin-top: 10px;
            border-radius: 5px;

            textarea{
                border-radius: 5px;
                border: 1px solid #b0b0b0;
                pointer-events: all;
                background-color: #f1f1f1;
                padding: 5px;
            }
            div{
                display: flex;
                justify-content:space-between;
            }

        }
    }

    .info{
        .material-icons{
            font-size: 14px;
            margin-right: 5px;
        }
        span{
            font-size: 14px;
            display: flex;
            align-items: center;
            font-weight: 500;
        }
    }

    #selector{
        display: flex;
        justify-content: flex-start;
        span{
            text-transform: uppercase;
            padding: 23px 0 10px 0;
            margin-right: 35px;
            font-size: 18px;
            font-weight: 600;
            display: inline-block;
            cursor: pointer;
            position: relative;
            &:after {
                content: '';
                background-color: transparent;
                height: 3px;
                width: 0;
                position: absolute;
                z-index: 1;
                bottom: 0;
                left: 50%;
                -webkit-transition: width .2s ease,background-color .2s ease,left .2s ease;
                transition: width .2s ease,background-color .2s ease,left .2s ease;
            }
            &.active{
                &:after {
                    background-color: var(--primary);
                    width: 100%;
                    left: 0;
                }
            }
        }
    }

    .selector-title{
        text-transform: uppercase;
        padding: 0px;
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        cursor: pointer;
        position: relative;
        span{
            display: inline-block;
            // border-bottom: 2px solid var(--primary);
        }
    }
    .line{
        border-bottom: 2px solid var(--primary);
    }

    .service{

        text-decoration: none;
        display: block;
        padding:30px 10px 10px 10px;
        text-align: center;
        box-shadow: var(--shadow);
        margin-bottom: 15px;
        &:hover{
            color: var(--primary);
        }
        img{
            width: 100%;
            max-width: 60px;
        }
        .name{
            color: var(--black-primary);
            font-weight: 600;
            font-size: 0.9rem;
        }


    }
    .choice{
        height: 0px;
        transition: all 0.5s;
        overflow: hidden;
        &.active{
            height: auto;
        }
    }

}
.jumbotron{
    display: none !important;
}

@media (max-width:426px){
    #vendor-dashboard-page{
        padding:0px;
        &.active{
            .sidebar{
                left:0px;
            }
            .main{
                margin-left: 315px;
                padding:0px 30px 0px 15px;
            }
        }
        .sidebar{

            left:-350px;


        }
        .main{
            margin-left: 0px;
            padding:0px 10px ;
        }

        .jumbo{
            font-size: 0.9rem;
            .jumbo-inner{
                a{

                    display: block;


                }
                span{
                    display:block;


                }

            }
        }
    }
}
