


.services{
    font-family: 'Poppins', sans-serif;
    padding:50px ;
    .title{
        text-align: center;
        font-weight:700;
        font-size:42px;
      
        
    }
    .col-md-3{
        padding-top:45px;
    }
    .item{
        border-radius:5px;
        // margin-top:45px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: 0.25rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        height:100%;
        .desc{
            padding:10px ;
            .item-title{
                text-align: center;
                font-weight:600;
                font-size:25px;
                padding-bottom:5px;
            }
            .item-desc{
                text-align: center;
                font-weight:400;
                font-size:14px;
            }
            .item-btn{
                margin-bottom: 20px;
                border:none;
                outline: transparent;
                background:#05A4ED;
                color:white;
                padding:10px 25px;
                display:inline-block;
                width:80%;
                font-weight:600;
                &:hover{
                    background:#0584be;

                }
            }
        }
    }
}