.login{
    padding: 0px 10%;
    margin-top:150px;
    margin-bottom:70px;
    .dotted{
        border-top:2px dotted #cfcfcf;
        margin:2rem 0px;
    }
    .form{
       padding: 25px 15px 15px 15px;
        h5{
            font-weight:600;
            font-size:20px;
            text-align: center;
            margin-bottom: 30px;
        }

        .another{
            color:#2a2a2a;
            .link{
                color: #0584BE;
            }
        }

        .header{
            display: flex;
            text-align: center;
            margin-top: 10px;
            font-size: 20px;
            color:#05A4ED;
            border-radius: 5px;
            overflow: hidden;
            // box-shadow: var(--shadow);
            margin-bottom: 15px;
            span{
                flex: 1;
                font-weight: 400;
                padding: 20px;
                max-height: 150px;
                cursor: pointer;
                &:hover{
                    background-color: rgba($color: #05A4ED, $alpha: 0.1);
                }
                &.active{
                    color: white;
                    background-color: #05A4ED;
                    font-weight: 500;
                    // border-bottom: 1px solid var(--black-primary);
                }
                .normal{
                    font-size: 14px;
                }
            }
        }

        form{

            .form-group{
                padding-bottom:15px;
            }
            // height:100%;
            // box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
            // border-radius:15px;
            padding:0px 25px;
            label{
                font-weight: 500;
            }
            textarea{
                min-height: 100px;
                padding:10px 20px;
            }
            textarea,input{
                &[type='checkbox']{
                    width: auto;
                    height: auto;
                    border-radius: 0px;
                    padding: 0;
                    margin: 0;
                }
                width: 100%;
                height: 35px;
                border-radius: 15px;
                background-color: #d1f3ff;
                border: none;
                outline: none;
                font-size: 15px;
                font-weight: 300;
                color: #2a2a2a;
                padding: 0px 20px;
                margin-bottom: 5px;
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                  margin: 0;
                }
            }
            .text-danger{
                font-size: 0.8rem;
            }
            textarea{
                min-height: 100px;
                padding:10px 20px;
            }

            .submit{
                border:none;
                outline: transparent;
                background:#05A4ED;
                color:white;
                padding:10px 25px;
                display:inline-block;
                width:100%;
                border-radius: 15px;
                font-weight:600;
                &:hover{
                    background:#0584be;

                }
            }
        }
    }
}

@media(max-width:768px){
    .login{
        padding:20px 15px;
        margin-top:100px;
        .signup{

        }
        .form{
           padding: 25px 15px ;
            h5{
                font-weight:700;
                font-size:20px;
                text-align: center;
            }

            .form-wrapper{
                height:100%;
                padding:20px 0px 0px 0px;
            }
            form{
                .form-group{
                    padding-bottom:0px;
                }
                // height:100%;
                // box-shadow:0px 0px 10px 0px rgba(0,0,0,0.2);
                // border-radius:15px;
                padding:0px 5px;
                input{
                    width: 100%;
                    height: 46px;
                    border-radius: 15px;
                    background-color: #d1f3ff;
                    border: none;
                    outline: none;
                    font-size: 15px;
                    font-weight: 300;
                    color: #2a2a2a;
                    padding: 0px 20px;
                    margin-bottom: 10px;
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    &::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                      margin: 0;
                    }
                }

                textarea{
                    margin-bottom: 10px;
                    min-height: 200px;
                }
                .submit{
                    border:none;
                    outline: transparent;
                    background:#05A4ED;
                    color:white;
                    padding:10px 25px;
                    display:inline-block;
                    width:100%;
                    border-radius: 15px;
                    font-weight:600;
                    &:hover{
                        background:#0584be;

                    }
                }
            }
        }
    }
}
