.text-right {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.text-center {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-left {
  text-align: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.shadow-md {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.font-weight-bold {
  font-weight: 700;
}

.big_section {
  padding: 50px;
  margin-top: 100px;
}

.big_section .title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.big_section .desc {
  font-weight: 500;
  font-size: 16px;
}

.big_section .form-group {
  padding-bottom: 10px;
}

.big_section .form-group label {
  font-weight: 600;
  color: #2C2C2C;
}

.big_section .form-group .submit {
  border: none;
  outline: transparent;
  background: #05A4ED;
  color: white;
  padding: 10px 25px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 600;
}

.big_section .form-group .submit:hover {
  background: #0584be;
}

.category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-list button {
  outline: transparent;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.product-container {
  width: 20% !important;
  padding: 10px;
}

.product {
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  padding-bottom: 75px;
  position: relative;
}

.product .top {
  position: relative;
  overflow: hidden;
}

.product .top .img-container {
  padding-bottom: 70%;
}

.product .top .img {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  bottom: 0px;
  width: 100%;
  background: #d1d1d1;
}

.product .bottom {
  padding: 0px;
  text-align: center;
}

.product .bottom .title {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 5px 10px 5px 10px;
}

.product .add_to_cart {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 40px;
  padding: 0px;
}

.product .add_to_cart div {
  width: 100%;
}

.product .add_to_cart div .price {
  font-size: 1rem;
  font-weight: 500;
  padding: 0px 10px 5px 10px;
}

.product .add_to_cart div .price .old {
  text-decoration: line-through;
  color: #c4c4c4;
  margin-right: 10px;
}

.product .add_to_cart div .price .new {
  color: #FE3F40;
}

.product .add_to_cart div input {
  width: 100%;
  text-align: center;
}

.product .add_to_cart div button {
  border-radius: 0 !important;
  width: 100%;
}

.success {
  background-color: #03a4ed;
  min-height: 100vh;
  padding: 50px;
  padding-top: 150px;
  color: white;
}

.success .title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.success .min-title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.success .min-link {
  font-weight: 500;
  font-size: 18px;
}

.bottom-bar {
  -webkit-box-shadow: 0px 3px 10px 0px #717171;
          box-shadow: 0px 3px 10px 0px #717171;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  text-align: center;
  background: white;
  z-index: 2;
}

@media (max-width: 768px) {
  .big_section {
    padding: 15px;
    margin-top: 100px;
  }
  .big_section .title {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
  }
  .big_section .desc {
    font-weight: 500;
    font-size: 13px;
    text-align: center;
  }
  .big_section .form-group .submit {
    width: 100%;
  }
  .shadow-md {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .text-center-sm {
    text-align: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .success {
    padding: 150px 15px 50px 15px;
  }
  .product-container {
    width: 33.33% !important;
    padding: 0px 15px 15px 15px;
  }
}

@media (max-width: 426px) {
  .category-list {
    display: block;
    overflow: scroll;
    white-space: nowrap;
    padding-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
  }
  .product-wrapper .row {
    -webkit-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    display: block;
  }
  .product-wrapper .row .product-container {
    width: 100% !important;
    padding: 0px;
    padding-bottom: 10px;
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */
    /* Firefox */
    break-inside: avoid;
    /* IE 10+ */
    break-inside: avoid-column;
  }
  .product {
    overflow: hidden;
    -webkit-column-break-inside: avoid;
    /* Chrome, Safari, Opera */
    /* Firefox */
    break-inside: avoid;
    /* IE 10+ */
    break-inside: avoid-column;
  }
  .product .top {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    overflow: hidden;
  }
  .product .top .img-container {
    padding-bottom: 0%;
  }
  .product .top .img {
    position: relative;
    top: 0;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    background: transparent;
  }
  .product .bottom {
    padding: 0px;
    text-align: center;
  }
  .product .bottom .title {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0px 5px 2px 5px;
  }
  .product .bottom .price {
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0px 5px 2px 5px;
  }
  .product .bottom .price .old {
    text-decoration: line-through;
    color: #c4c4c4;
    margin-right: 10px;
  }
  .product .bottom .price .new {
    color: #FE3F40;
  }
  .product .bottom .add_to_cart {
    padding: 0px;
  }
  .product .bottom .add_to_cart div button {
    font-size: 0.8rem;
    border-radius: 0 !important;
    width: 100%;
  }
}
/*# sourceMappingURL=normal.css.map */