.text-right{
    text-align:right;
    align-items: flex-end;
}
.text-center{
    text-align:center;
    align-items: center;
}
.text-left{
    text-align:left;
    align-items: left;
}

.shadow-md{
    box-shadow:0 0.5rem 1rem rgba(0,0,0,0.15) ;
}

.font-weight-bold{
    font-weight:700;
}

.big_section{

    padding:50px;
    margin-top:100px;
    .title{
        font-weight:700;
        font-size:32px;
        text-align: center;
    }
    .desc{
        font-weight:500;
        font-size:16px;
    }
    .form-group{
        padding-bottom: 10px;
        label{
            font-weight: 600;
            color:#2C2C2C;
        }
        .submit{
            border:none;
            outline: transparent;
            background:#05A4ED;
            color:white;
            padding:10px 25px;
            display:inline-block;
            border-radius: 5px;
            font-weight:600;
            &:hover{
                background:#0584be;

            }
        }
    }


}

.category-list{
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        outline: transparent;
        box-shadow: none !important;
    }
}
.product-container{
    width:20% !important;
    padding:10px;
}
.product{
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    padding-bottom:75px;
    position: relative;

    .top{
        position:relative;
        overflow:hidden;
        .img-container{
            padding-bottom:70%;
        }
        .img{
            position:absolute;
            top:0;
            display:flex;
            align-items: center;
            left:0;right:0;
            bottom:0px;
            width:100%;
            background: #d1d1d1;
        }
    }
    .bottom{

        padding: 0px;
        text-align: center;
        .title{
            font-size: 0.9rem;
            font-weight:500;
            padding:5px 10px 5px 10px;
        }

    }
    .add_to_cart{
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        display: flex;
        align-items: flex-end;
        height: 40px;
        padding: 0px;
        div{
            .price{
                font-size:1rem;
                font-weight:500;
                padding:0px 10px 5px 10px;

                .old{
                    text-decoration:  line-through;
                    color:#c4c4c4;
                    margin-right:10px;
                }
                .new{
                    color:#FE3F40
                }
            }
            width: 100%;
            input{
                width:100%;
                text-align:center;
            }
            button{

                border-radius:0 !important;
                width:100%;
            }
        }
    }

}

.success{
    background-color: #03a4ed;
    min-height :100vh;
    padding:50px;
    padding-top:150px;
    color:white;
    .title{
        font-weight:700;
        font-size:32px;
        text-align: center;
    }

    .min-title{
        font-weight:600;
        font-size:18px;
        text-align: center;
    }
    .min-link{
        font-weight:500;
        font-size: 18px;
    }
}

.bottom-bar{
    box-shadow:0px 3px 10px 0px #717171;position:fixed;bottom:0px;left:0px;right:0px;padding:10px;text-align:center;background:white;z-index:2;
}

@media(max-width:768px){
    .big_section{
        padding:15px;
        margin-top:100px;
        .title{
            font-weight:700;
            font-size:25px;
            text-align: center;
        }
        .desc{
            font-weight:500;
            font-size:13px;
            text-align: center;
        }
        .form-group{


            .submit{

                width:100%;
            }
        }

    }
    .shadow-md{
        box-shadow: none !important;
    }

    .text-center-sm{
        text-align:center !important;
        align-items: center !important;
    }

    .success{

        padding:150px 15px 50px 15px;
        // padding-top:150px;
    }

    .product-container{
        width:33.33% !important;
        padding:0px 15px 15px 15px;
    }

}

@media(max-width:426px){

    .category-list{
        display: block;
        overflow: scroll;
        white-space: nowrap;
        padding-bottom: 10px;
        position: sticky;
        top:80px;
        // button{
        //     background: none !important;
        //     color:black;
        //     &.btn-primary,&.btn-secondary{
        //         color: black;
        //     }
        // }
    }

    .product-wrapper{
        .row{
            column-count: 2;
            column-gap: 10px;
            display: block;
            .product-container{
                width:100% !important;
                padding:0px;
                padding-bottom: 10px;
                -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
                page-break-inside: avoid; /* Firefox */
                break-inside: avoid; /* IE 10+ */
                break-inside: avoid-column;
                // &:nth-child(odd){

                //     padding:0px 4px 10px 8px;
                // }
                // &:nth-child(even){

                //     padding:0px 8px 10px 4px;
                // }
            }

        }
    }
    .product{
        overflow: hidden;
        -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
        page-break-inside: avoid; /* Firefox */
        break-inside: avoid; /* IE 10+ */
        break-inside: avoid-column;
        .top{
            flex:1;
            position:relative;
            overflow:hidden;
            .img-container{
                padding-bottom:0%;
            }
            .img{
                position:relative;
                top:0;
                display:block;
                align-items: center;
                left:0;right:0;
                bottom:0px;
                width:100%;
                background: transparent;
            }
        }
        .bottom{
            padding: 0px;
            text-align: center;
            .title{
                font-size: 0.8rem;
                font-weight:600;
                padding:0px 5px 2px 5px;
            }
            .price{
                font-size:0.7rem;
                font-weight:500;
                padding:0px 5px 2px 5px;

                .old{
                    text-decoration:  line-through;
                    color:#c4c4c4;
                    margin-right:10px;
                }
                .new{
                    color:#FE3F40
                }
            }
            .add_to_cart{
                padding: 0px;
                div{


                    button{
                        font-size:0.8rem;
                        border-radius:0 !important;
                        width:100%;
                    }
                }
            }
        }


    }

}
