.layout{
    position:fixed;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    background:rgba(0,0,0,0.4);
    padding:300px 100px;
    .login{
        background:white;
        height:100%;
    }
}